<link rel="stylesheet" href="views/style/components/footer.css">
<footer>
    <nav class="footer">
        <div id="top-footer">
            <img src="public/img/logofrfooter.webp" alt="">
            <p>Ce site est géré par le Service d'Information du Gouvernement (SIG).</p>
        </div>
        <ul>
            <li>Accessibilité : partiellement conforme</li>
            <li>Mentions légales</li>
            <li>Données personnelles</li>
            <li>Gestion des cookies</li>
            <li>Notifications</li>
            <li>Publications officielles</li>
        </ul>
    </nav>
</footer>