<link rel="stylesheet" href="views/style/components/header.css">
<header>
    <nav class="navbar">
        <ul>
            <li>
                <img src="public/img/Marianne_logo.png" alt="logo national" srcset="">
            </li>
            <li><a href="index.php?page=home">Acceuil</a></li>
            <li><a href="index.php?page=poucave">Délafion</a></li>
            <li><a href="index.php?page=wanted">Chiasse à l'homme</a></li>
            <li><a href="index.php?page=analyse">Analyse</a></li>

        </ul>
    </nav>
</header>