<link rel="stylesheet" href="views/style/layout.css">
<header>
    <nav class="navbar">
        <ul>
            <li>
                <img src="public/img/Marianne_logo.png" alt="logo national" srcset="">
            </li>
            <li><a href="index.php?page=home">Home</a></li>
            <li><a href="index.php?page=poucave">Poucave</a></li>
            <li><a href="index.php?page=wanted">wanted</a></li>
            <li><a href="index.php?page=analyse">analyse</a></li>

        </ul>
    </nav>
</header>