*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    font-weight: bold;}
.navbar{
    background-color: white;
    height: 15vh;
    box-shadow:0px 0.1px 0.6em rgba(0, 0, 0, 0.502) ;
}
ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.navbar img{
    padding-bottom: 2vh;
    height: 10vh;
}
.navbar li{
    list-style-type: none;
    border-radius: 5px;
    cursor: pointer;
}
.navbar a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 3px transparent; /* Bordure invisible par défaut */
    transition: border-color 0.3s ease; /* Transition sur la couleur de la bordure */
    
}

.navbar a:hover{
    border-bottom: solid 3px #000091 ;
    }

.home{
    margin: auto;
    padding: 10vw;
    padding-top: 5vh;
}


.zone-btn{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#btn-poucave{
    background-color: #000091;
    padding: 15px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    padding-right:25px ;
    padding-left:25px ;
}

#btn-poucave:hover{
    background-color: #1212ff ;

    }

.gray-box{
    background-color: #dfdfdf;
    padding: 50px;
}

.gray-box h2{
    margin-bottom: 24px;
}

.gray-box p{
    margin-bottom: 24px;
}

.footer{
    box-sizing: border-box;
    display: flex;
    box-shadow:0px -3px 0em #000091;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer img{
    width: 12vw;
}

.footer p{
    font-weight:400;
    font-size:1.45rem;
    color:rgb(67, 67, 67) ;
    line-height: 1.5rem;
}

.footer ul{
    margin-top: 1rem;
    list-style: none;
    font-size:1.3rem ;
    color:rgb(37, 37, 37) ;
    box-shadow:0px -1px 0em rgba(129, 129, 129, 0.502) ;
    padding-top: 15px;
    gap: 0;
}

#top-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#top-footer p{
    margin-right: 10vw;
}

.footer ul li{
    color: rgba(49, 49, 49, 0.719);
    box-shadow: 1px 0px 0em rgba(129, 129, 129, 0.502);
    padding-right: 30px;
    padding-left: 30px;
}

.footer ul li:nth-child(6){
    box-shadow: none;
}

